@mixin page-header($background-url:'../img/home/bridal-2.jpg') {
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0) url($background-url) no-repeat fixed;
    background-size: cover;
    background-position: 50%;
    min-height: 300px; 

    .overlay {
        padding: 140px 15px;
        background: rgba(0,0,0,0.5);
        z-index: 1000;
        color: #fff;
    }
}

.section-services-title {
    @include page-header('../img/home/home-3.jpg')
}

.section-gallery-title {
    @include page-header('../img/home/bridal-2.jpg')
}

.section-courses-title {
    @include page-header('../img/home/home-3.jpg')
}
