.photo-container {
  margin-right: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  position: relative;

  .photo {
    object-fit: cover;
    height: 200px;
    width: auto;
    filter: brightness(90%);
    
    &:hover {
      filter: brightness(100%);
    }
  }

  .caption {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 1.2em;
    margin: 0.4em 1em;
  }
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
}

.album-title {
  margin-bottom: 2em;
}