  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    figure {
      height: 516px;
    }
  }
  
  .photo {
    width: 350px;
    height: 516px;
    object-fit: cover;
    
    &:hover {
      filter: brightness(90%);
    }
  }