.section-page-title {
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0) url(../img/home/bridal-2.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50%;
    min-height: 300px; 

    .overlay {
            padding: 140px 15px;
            background: rgba(0,0,0,0.5);
            z-index: 1000;
            color: #fff;
    }
}