
.section-testimonial {
    background: linear-gradient(to right, #ececec, #e2eceb)
}

.section-title {
    text-align: center;
    padding: 0px 15px;
}

.section {
    padding: 70px 0px;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.img-circle {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.margin-btm {
    margin-bottom: 20px;
}

.testimonial-item {
    margin-bottom: 30px;
}

.svg-inline--fa {
    font-size: 3rem;
}