@mixin margin-bottom($val) {
    margin-bottom: $val
}
.section-testimonial {
    background: linear-gradient(to right, #ececec, #e2eceb)
}

.img-circle {
    border-radius: 50%;
}

.testimonial {
    min-width: 340px;
    padding: 4em;
    border-radius: 0.2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    margin-right: 1em;
}

.margin-bottom-2 {
    @include margin-bottom(2rem);
}

.margin-bottom-3 {
    @include margin-bottom(3rem);
}

.svg-inline--fa {
    font-size: 3rem;
}

.horizontal-center {
    justify-content: center;
}
