@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/cssgram/0.1.10/cssgram.min.css');
@import '../stylesheets/testimonial.scss';

$primary:#C2185B;

@import "~bulma";

body, p, span {
  font-family: 'Alegreya Sans', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya', serif;
}

.gallery-container .albums {
  flex-wrap: wrap;
  justify-content: space-around;
}

.album {
  min-width: 320px;
}

.carousel-section {
  background: #F5F5F5;
}

.carousel {
  display: flex;
  overflow-x: auto;
  padding: 1em;
}

.carousel__item {
  flex-shrink: 0;
  margin: 8px;
  width: 300px;
  height: 400px;
}

.carousel::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}