@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/cssgram/0.1.10/cssgram.min.css');
@import '../stylesheets/testimonial.scss';

$primary:#C2185B;

@import "~bulma";

body, p, span {
  font-family: 'Alegreya Sans', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya', serif;
}

.gallery-container .albums {
  flex-wrap: wrap;
  justify-content: space-around;
}

.album {
  min-width: 320px;
}

.carousel-section {
  background: #F5F5F5;
}

.carousel {
  display: flex;
  overflow-x: auto;
  padding: 1em;
}

.carousel__item {
  flex-shrink: 0;
  margin: 8px;
  width: 300px;
  height: 400px;
}

.carousel::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@mixin underline($background: #fff, $text: #000, $selection: #ffc, $position: 86%){
	color: inherit;
	text-decoration: none;
	background: linear-gradient($background, $background), linear-gradient($background, $background), linear-gradient($text, $text);
	background-size: .05em 1px, .05em 1px, 1px 1px;
	background-repeat: no-repeat, no-repeat, repeat-x;
	text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background, 0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background, 0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background, -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background;
	background-position-y: $position,$position, $position;
	background-position-x: 0%, 100%, 0%;

	&::selection {
		text-shadow: 0.03em 0 $selection, -0.03em 0 $selection, 0 0.03em $selection, 0 -0.03em $selection, 0.06em 0 $selection, -0.06em 0 $selection, 0.09em 0 $selection, -0.09em 0 $selection, 0.12em 0 $selection, -0.12em 0 $selection, 0.15em 0 $selection, -0.15em 0 $selection;
		background: $selection;
	}
	&:before, &:after, *, *:before, *:after {
		text-shadow: none;
	}
	&:visited{
		color: inherit;
	}
}

.underline {
  @include underline();
}